#mk01 {
	margin-top: 36px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: -14px;
}
#mk02 {
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
}
#mk03 {
	margin-top: -396px;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
}
#mk04 {
	margin-top: -150px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
}
#mk05 {
	padding: 0px;
	margin: 1px;
}
